@charset "utf-8";

/* トップページのスタイル*/

.page-header {
    color: $color-menu;
	font-size: $font-size-menu;
	background: $color-white;

    .header-inner {
    	position: relative;

    	.heroes {
    		@include display-flex;
    	    @include justify-content-center;
			width: 100%;
    	    // width: 130vh;
			// margin-left: auto;
			// margin-right: auto;
    	    max-width: 100vw;
    	    // max-height: 100vh;
			@media only screen and (min-width: 769px) {
				height: 75vw;
			}
			@media only screen and (max-width: 768px) {
				height: 120vw;
			}
    	    overflow: hidden;

    		.item {
//     			max-width: 350px;
    			@include flex(1);
				overflow: hidden;
    			img {
    				width: 100%;
					@media only screen and (max-width: 768px) {
// 						transform-origin: top;
// 						@include transform(scale(1.2));
					}
    			}
    		}
    	}

    	.header-title {
    		position: absolute;
    		top: 43vw;
//     		bottom: 10px;
    		width: 1100px;
    		left: 50%;
    		@include transform(translateX(-50%));
    		@media only screen and (max-width: 768px) {
    			top: unset;
    			bottom: -64vw;
    		}

    		h1 {
                font-size: 82px;
                font-weight: 700;
                text-align: center;
                color: white;

    			span {
    				display: block;
                    font-size: 33px;
                    margin-top: 0.5em;
                    margin-bottom: 0.5em;
    			}
    		}

    		.feature-items {
    			@include display-flex;

    			.item {
    				@include flex(1);
                    color: white;
                    background: linear-gradient(#06A4E2, #03719C);
                    // padding-top: 16px;
					padding-top: 2vw;
                    height: 296px;
                    position: relative;

                    & + .item {
                    	 margin-left: 35px;
                    }

    				img {
                        height: 85px;
                        width: auto;
                        margin-left: auto;
                        margin-right: auto;
    				}

    				.name {
                        font-size: 39px;
                        text-align: center;
                        line-height: 1.1;
                        letter-spacing: -0.05em;
                        margin-top: 15px;
    				}

    				.content {
    					text-align: center;
    					font-size: 19px;
    					position: absolute;
    					width: 100%;
    					// bottom: 20px;
						bottom: 2vw;
    					left: 50%;
                        @include transform(translateX(-50%));

    					span {
                            font-size: 30px;
                            margin-bottom: 0.4em;
                            display: block;
    					}
    				}
    			}
    		}

    		// @media only screen and (max-width: 1400px) {
    			width: 80vw;

    			h1 {
                    font-size: 5vw;

                    span {
                    	font-size: 2vw;
                    }
    			}

    			.feature-items {
    				.item {
    					height: 20vw;

    					& + .item {
							 margin-left: 2vw;
						}

						img {
							height: 5vw;
						}

						.name {
							font-size: 2.2vw;
							margin-top: 1vw;
						}

						.content {
							font-size: 1.2vw;
							bottom: 2vw;

							span {
								font-size: 1.6vw;
							}
						}
    				}
    			}
    		// }

    		@media only screen and (max-width: 768px) {
    			width: 100vw;

    			h1 {
                    font-size: 10.4vw;

                    span {
                    	font-size: 5.33vw;
                    }
    			}

    			.feature-items {
                    display: block;
                    position: relative;
                    height: 80vw;

    				.item {
    					height: 38.4vw;
    					width: 33vw;
    					position: absolute;

    					& + .item {
							 margin-left: unset;
						}

    					img {
							height: 11vw;
						}

						.name {
							font-size: 4.8vw;
							margin-top: 2vw;
						}

						.content {
							font-size: 2.13vw;
							bottom: 3vw;

							span {
								font-size: 3.3vw;
							}
						}

						&:nth-of-type(1) {
							left: 15.2vw;
							top: 0;
						}

						&:nth-of-type(2) {
							right: 15.2vw;
							left: auto;
							top: 0;
						}

						&:nth-of-type(3) {
							left: 15.2vw;
							bottom: 0;
						}

						&:nth-of-type(4) {
							right: 15.2vw;
							left: auto;
							bottom: 0;
						}
    				}
    			}
    		}
    	}
    }
}

.logo {
    width: 180px;
	@media (max-width: 768px) {
		width: 50vw;
		height: 12vw;
		@include display-flex;
		@include align-items(stretch);
	}
}

.page-footer {
	background-color: #03719C;
	color: white;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;

    @media only screen and (max-width: 768px) {
    	padding-top: 6vw;
    	padding-bottom: 6vw;
    }

	.footer-top {
		.text {
			font-size: 30px;
			line-height: 1.3;
			@media only screen and (max-width: 768px) {
				font-size: 3.2vw;
			}
		}
	}

	.footer-middle {
		@media only screen and (max-width: 1400px) {
			padding-left: 10vw;
			padding-right: 10vw;
		}
		@media only screen and (max-width: 768px) {
			padding-left: 6.66vw;
			padding-right: 6.66vw;
		}
	    .btn-panel {
	    	margin-top: 30px;
	    	margin-bottom: 60px;
	    	@media only screen and (max-width: 768px) {
	    		margin-top: 3vw;
	    		margin-bottom: 4vw;
	    	}
			.mail-btn {
				background-color: white;
				color: #03719C;
				font-size: 56px;
				line-height: 2.3;
				display: block;
				max-width: 1040px;
				margin-left: auto;
			    margin-right: auto;
			    @include transition-all;

			    &:hover {
			    	@include transform(scale(1.05));
			    }

			    @media only screen and (max-width: 1000px) {
			    	font-size: 5vw;
			    }
			    @media only screen and (max-width: 768px) {
			    	font-size: 4.2vw;
			    	line-height: 2.6;
			    }
			}
		}
	}

	.footer-bottom {
		.about {
			font-size: 30px;
			line-height: 1.3;
			@media only screen and (max-width: 768px) {
				font-size: 2.66vw;
				line-height: 1.7;
			}
		}
	}
}
