@charset "UTF-8";
/* 変数 */
/* 基礎のスタイル */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Hiragino Sans", "Noto Sans JP", sans-serif !important;
  font-size: 10px;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

* a {
  text-decoration: none !important;
  color: unset;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:focus {
  outline: 0;
}

input[type=text], input[type=email], input[type=tel] {
  width: 100%;
  padding: 1em 1.5em;
  border: 1px solid #d3d3de;
  color: #191819;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  input[type=text], input[type=email], input[type=tel] {
    padding: 1em 0.7em;
    font-size: 3.73vw;
  }
}
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus {
  border-color: #191819;
}
input[type=text]::placeholder, input[type=text]:-ms-input-placeholder, input[type=text]::-ms-input-placeholder, input[type=email]::placeholder, input[type=email]:-ms-input-placeholder, input[type=email]::-ms-input-placeholder, input[type=tel]::placeholder, input[type=tel]:-ms-input-placeholder, input[type=tel]::-ms-input-placeholder {
  color: #8f8f8f;
}
input[type=text]::placeholder, input[type=email]::placeholder, input[type=tel]::placeholder {
  opacity: 1;
}

textarea {
  width: 100%;
  padding: 1em 1.5em;
  border: 1px solid #d3d3de;
  color: #191819;
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  textarea {
    padding: 1em 0.7em;
    font-size: 3.73vw;
  }
}
textarea:focus {
  border-color: #191819;
}

.container {
  width: 1110px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.effect {
  overflow: hidden;
}

.effect img {
  -webkit-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}

.background-zoom:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.pc, .tb, .sp {
  display: none;
}

@media screen and (min-width: 1025px) {
  .pc {
    display: block;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .tb {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .sp {
    display: block;
  }
}
.checkbox-label {
  display: block;
  position: relative;
  padding-left: 1.5em;
  line-height: 1;
  cursor: pointer;
  font-size: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-label input:checked ~ .checkbox-mark {
  background-color: #FFFFFF;
}
.checkbox-label input:checked ~ .checkbox-mark:after {
  display: block;
}
.checkbox-label .checkbox-mark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 1em;
  width: 1em;
  background-color: white;
  border: 0.1em solid #191819;
  border-radius: 0.1em;
  transform: translateY(-50%);
}
.checkbox-label .checkbox-mark:after {
  content: "";
  position: absolute;
  display: none;
  left: 0.15em;
  top: 0.4em;
  width: 0.15em;
  height: 0.4em;
  border: solid #191819;
  border-width: 0 0.2em 0.2em 0;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  -ms-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -50%);
}
.checkbox-label:hover input ~ .checkbox-mark {
  background-color: white;
}

.radio-label {
  display: block;
  position: relative;
  padding-left: 1.5em;
  line-height: 1;
  cursor: pointer;
  font-size: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio-label input:checked ~ .radio-mark {
  background-color: #FFFFFF;
}
.radio-label input:checked ~ .radio-mark:after {
  display: block;
}
.radio-label .radio-mark {
  font-size: inherit;
  position: absolute;
  top: 50%;
  left: 0;
  height: 1em;
  width: 1em;
  background-color: #FFFFFF;
  border: 1px solid #191819;
  border-radius: 50%;
  transform: translateY(-50%);
}
.radio-label .radio-mark:after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  background-color: #191819;
  transform: translate(-50%, -50%);
}
.radio-label:hover input ~ .radio-mark {
  background-color: #f9f9f9;
}

/* 共通のスタイル */
@media only screen and (min-width: 801px) {
  .w720 {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1001px) {
  .w800 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 1000px) {
  .w800 {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1201px) {
  .w1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 1200px) {
  .w1000 {
    padding-left: 8.33vw;
    padding-right: 8.33vw;
  }
}

@media only screen and (min-width: 1401px) {
  .w1400, .section.section--place .section-content, .section.section--place .section-title, .section.section--product .section-title, .section.section--merit .section-content > .text, .section.section--merit .section-title, .section.section--whatis .section-content, .section.section--whatis .section-title {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 1400px) {
  .w1400, .section.section--place .section-content, .section.section--place .section-title, .section.section--product .section-title, .section.section--merit .section-content > .text, .section.section--merit .section-title, .section.section--whatis .section-content, .section.section--whatis .section-title {
    width: 100%;
  }
}

.page-wrapper {
  max-width: 100%;
  overflow: hidden;
}

.background-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title h2 {
  font: 130px/1 "Hiragino Mincho ProN", "Noto Serif JP", serif;
  font-weight: 700;
  color: #171717;
}
.section-title h2 span {
  display: block;
  font: 40px/1 "Hiragino Sans", "Noto Sans JP", sans-serif;
  font-weight: 600;
  margin-top: 0.6em;
  color: #313131;
}
@media only screen and (max-width: 1400px) {
  .section-title h2 {
    font-size: 9vw;
  }
  .section-title h2 span {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 768px) {
  .section-title h2 {
    font-size: 15vw;
  }
  .section-title h2 span {
    font-size: 4.5vw;
  }
}

@media only screen and (max-width: 1540px) {
  .section {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
@media only screen and (max-width: 768px) {
  .section {
    padding-left: unset;
    padding-right: unset;
  }
}
.section.section--problem {
  background-image: url(../img/background01.png);
  padding-top: 40px;
  padding-bottom: 120px;
  border-bottom: 3px solid #000;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
@media only screen and (max-width: 768px) {
  .section.section--problem {
    padding-top: 72vw;
    padding-bottom: 7.2vw;
  }
}
.section.section--problem .section-title h2 {
  text-align: center;
}
.section.section--problem .section-content {
  position: relative;
  height: 540px;
  margin-top: 45px;
}
@media only screen and (max-width: 768px) {
  .section.section--problem .section-content {
    height: 95vw;
    margin-top: 10vw;
  }
}
.section.section--problem .section-content .nayami-text {
  font-size: 30px;
  line-height: 1.33;
  display: block;
  position: absolute;
  top: 180px;
  background-color: #03719C;
  color: white;
  padding: 0.5em;
  border-radius: 0.6em;
  letter-spacing: 0.05em;
  white-space: nowrap;
}
@media only screen and (max-width: 1400px) {
  .section.section--problem .section-content .nayami-text {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--problem .section-content .nayami-text {
    font-size: 3.2vw;
    top: 40vw;
    white-space: unset;
    padding: 0.8em;
    line-height: 1.5;
  }
}
.section.section--problem .section-content .nayami-text:after {
  content: "";
  display: block;
  position: absolute;
  height: 40px;
  width: 80px;
  background-image: url(../img/triangle.png);
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .section.section--problem .section-content .nayami-text:after {
    display: none;
  }
}
.section.section--problem .section-content .nayami-text.nayami-text--1 {
  left: calc(50% + 265px);
}
@media only screen and (max-width: 1400px) {
  .section.section--problem .section-content .nayami-text.nayami-text--1 {
    left: calc(50% + 19vw);
  }
}
@media only screen and (max-width: 768px) {
  .section.section--problem .section-content .nayami-text.nayami-text--1 {
    left: 50vw;
    -webkit-transform: translate(-50%, calc(-28vw - 100%));
    -ms-transform: translate(-50%, calc(-28vw - 100%));
    transform: translate(-50%, calc(-28vw - 100%));
  }
}
.section.section--problem .section-content .nayami-text.nayami-text--1:after {
  left: -60px;
  bottom: 10px;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.section.section--problem .section-content .nayami-text.nayami-text--2 {
  left: calc(50% + 100px);
  -webkit-transform: translateY(-155px);
  -ms-transform: translateY(-155px);
  transform: translateY(-155px);
}
@media only screen and (max-width: 1400px) {
  .section.section--problem .section-content .nayami-text.nayami-text--2 {
    left: calc(50% + 7vw);
    -webkit-transform: translateY(-11vw);
    -ms-transform: translateY(-11vw);
    transform: translateY(-11vw);
  }
}
@media only screen and (max-width: 768px) {
  .section.section--problem .section-content .nayami-text.nayami-text--2 {
    left: 51.6vw;
    right: 1.6vw;
    -webkit-transform: translateY(calc(-10.4vw - 100%));
    -ms-transform: translateY(calc(-10.4vw - 100%));
    transform: translateY(calc(-10.4vw - 100%));
  }
}
.section.section--problem .section-content .nayami-text.nayami-text--2:after {
  left: 0px;
  bottom: -30px;
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.section.section--problem .section-content .nayami-text.nayami-text--3 {
  right: calc(50% - 30px);
  -webkit-transform: translateY(-175px);
  -ms-transform: translateY(-175px);
  transform: translateY(-175px);
}
@media only screen and (max-width: 1400px) {
  .section.section--problem .section-content .nayami-text.nayami-text--3 {
    right: calc(50% - 2vw);
    -webkit-transform: translateY(-12.5vw);
    -ms-transform: translateY(-12.5vw);
    transform: translateY(-12.5vw);
  }
}
@media only screen and (max-width: 768px) {
  .section.section--problem .section-content .nayami-text.nayami-text--3 {
    left: 1.6vw;
    right: 51.6vw;
    -webkit-transform: translateY(calc(-10.4vw - 100%));
    -ms-transform: translateY(calc(-10.4vw - 100%));
    transform: translateY(calc(-10.4vw - 100%));
  }
}
.section.section--problem .section-content .nayami-text.nayami-text--3:after {
  right: 55px;
  bottom: -40px;
  -webkit-transform: rotate(-120deg);
  -ms-transform: rotate(-120deg);
  transform: rotate(-120deg);
}
.section.section--problem .section-content .nayami-text.nayami-text--4 {
  right: calc(50% + 150px);
  -webkit-transform: translateY(-65px);
  -ms-transform: translateY(-65px);
  transform: translateY(-65px);
}
@media only screen and (max-width: 1400px) {
  .section.section--problem .section-content .nayami-text.nayami-text--4 {
    right: calc(50% + 10.5vw);
    -webkit-transform: translateY(-4.5vw);
    -ms-transform: translateY(-4.5vw);
    transform: translateY(-4.5vw);
  }
}
@media only screen and (max-width: 768px) {
  .section.section--problem .section-content .nayami-text.nayami-text--4 {
    left: 1.6vw;
    right: 51.6vw;
    -webkit-transform: translateY(calc(10.6vw - 100%));
    -ms-transform: translateY(calc(10.6vw - 100%));
    transform: translateY(calc(10.6vw - 100%));
  }
}
.section.section--problem .section-content .nayami-text.nayami-text--4:after {
  right: -8px;
  bottom: -26px;
  -webkit-transform: rotate(-140deg);
  -ms-transform: rotate(-140deg);
  transform: rotate(-140deg);
}
.section.section--problem .section-content .nayami-text.nayami-text--5 {
  right: calc(50% + 230px);
  -webkit-transform: translateY(120px);
  -ms-transform: translateY(120px);
  transform: translateY(120px);
}
@media only screen and (max-width: 1400px) {
  .section.section--problem .section-content .nayami-text.nayami-text--5 {
    right: calc(50% + 16.5vw);
    -webkit-transform: translateY(8.5vw);
    -ms-transform: translateY(8.5vw);
    transform: translateY(8.5vw);
  }
}
@media only screen and (max-width: 768px) {
  .section.section--problem .section-content .nayami-text.nayami-text--5 {
    left: 51.6vw;
    right: 1.6vw;
    -webkit-transform: translateY(calc(6vw - 100%));
    -ms-transform: translateY(calc(6vw - 100%));
    transform: translateY(calc(6vw - 100%));
  }
}
.section.section--problem .section-content .nayami-text.nayami-text--5:after {
  right: -60px;
  bottom: 8px;
  -webkit-transform: rotate(-170deg);
  -ms-transform: rotate(-170deg);
  transform: rotate(-170deg);
}
.section.section--problem .section-content img {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media only screen and (max-width: 768px) {
  .section.section--problem .section-content img {
    width: 26.6vw;
  }
}
.section.section--whatis {
  padding-top: 100px;
  border-bottom: 3px solid #000;
}
@media only screen and (max-width: 768px) {
  .section.section--whatis {
    padding-top: 14.4vw;
    position: relative;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--whatis .section-title {
    margin-left: 9.3vw;
  }
}
.section.section--whatis .section-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 100px;
}
.section.section--whatis .section-content .text {
  -webkit-flex: 1 1 auto;
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 30px;
  line-height: 1.6;
  margin-top: 70px;
  color: #313131;
}
@media only screen and (max-width: 1400px) {
  .section.section--whatis .section-content .text {
    font-size: 2.2vw;
  }
}
.section.section--whatis .section-content .right-img {
  min-width: 480px;
}
@media only screen and (max-width: 1400px) {
  .section.section--whatis .section-content .right-img {
    min-width: 30vw;
  }
}
.section.section--whatis .section-content .right-img img {
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: auto;
  position: relative;
  top: -80px;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
@media only screen and (max-width: 1400px) {
  .section.section--whatis .section-content .right-img img {
    margin-right: unset;
  }
}
.section.section--whatis .section-content .right-img img:hover {
  -webkit-transform: rotate(0deg) scale(1.1);
  -ms-transform: rotate(0deg) scale(1.1);
  transform: rotate(0deg) scale(1.1);
}
@media only screen and (max-width: 768px) {
  .section.section--whatis .section-content {
    padding-bottom: 24vw;
    padding-left: 9.3vw;
    padding-right: 9.3vw;
  }
  .section.section--whatis .section-content .text {
    font-size: 3.2vw;
    margin-top: 12vw;
  }
  .section.section--whatis .section-content .right-img {
    min-width: unset;
    position: absolute;
    width: 16.8vw;
    top: 8vw;
    right: 10vw;
  }
  .section.section--whatis .section-content .right-img img {
    top: unset;
  }
}
.section.section--merit {
  padding-top: 60px;
  background-color: #03719C;
  border-bottom: 3px solid #000;
}
.section.section--merit .section-title h2 {
  color: white;
}
.section.section--merit .section-title h2 span {
  color: white;
}
@media only screen and (max-width: 768px) {
  .section.section--merit .section-title {
    padding-left: 9.3vw;
    padding-right: 9.3vw;
  }
}
.section.section--merit .section-content > .text {
  font-size: 30px;
  line-height: 1.4;
  color: white;
  margin-bottom: 95px;
  margin-top: 1em;
}
@media only screen and (max-width: 1400px) {
  .section.section--merit .section-content > .text {
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--merit .section-content > .text {
    padding-left: 9.3vw;
    padding-right: 9.3vw;
    margin-bottom: 12vw;
  }
}
.section.section--merit .section-content .list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  margin-top: 40px;
}
@media only screen and (max-width: 1400px) {
  .section.section--merit .section-content .list {
    margin-left: -7vw;
    margin-right: -7vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--merit .section-content .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 5.33vw;
    margin-left: unset;
    margin-right: unset;
  }
}
.section.section--merit .section-content .list .item {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 480px;
  background: white;
  padding-top: 25px;
  padding-bottom: 50px;
}
@media only screen and (max-width: 768px) {
  .section.section--merit .section-content .list .item {
    margin-left: 1.6vw;
    margin-right: 1.6vw;
    padding-top: 4vw;
    padding-bottom: 6.66vw;
  }
}
.section.section--merit .section-content .list .item + .item {
  margin-left: 25px;
}
@media only screen and (max-width: 1400px) {
  .section.section--merit .section-content .list .item + .item {
    margin-left: 1.8vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--merit .section-content .list .item + .item {
    margin-left: 1.6vw;
    margin-top: 5.33vw;
  }
}
.section.section--merit .section-content .list .item dt {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.4;
  color: #171717;
}
.section.section--merit .section-content .list .item dt img {
  margin-right: 24px;
  height: 60px;
}
@media only screen and (max-width: 1400px) {
  .section.section--merit .section-content .list .item dt {
    font-size: 2vw;
  }
  .section.section--merit .section-content .list .item dt img {
    margin-right: 1.6vw;
    height: 4vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--merit .section-content .list .item dt {
    font-size: 6.1vw;
  }
  .section.section--merit .section-content .list .item dt img {
    margin-right: 3vw;
    height: 12vw;
  }
}
.section.section--merit .section-content .list .item dd {
  margin-top: 35px;
}
@media only screen and (max-width: 1400px) {
  .section.section--merit .section-content .list .item dd {
    margin-top: 2.5vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--merit .section-content .list .item dd {
    margin-top: 4.66vw;
  }
}
.section.section--merit .section-content .list .item dd .text {
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #171717;
}
@media only screen and (max-width: 1400px) {
  .section.section--merit .section-content .list .item dd .text {
    font-size: 1.3vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--merit .section-content .list .item dd .text {
    font-size: 3.2vw;
  }
}
.section.section--merit .section-decorator {
  margin-top: 70px;
  height: 200px;
  background-image: url(../img/background02.png);
}
@media only screen and (max-width: 1400px) {
  .section.section--merit .section-decorator {
    margin-left: -10vw;
    margin-right: -10vw;
    height: 10vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--merit .section-decorator {
    height: 26.6vw;
    margin-top: -13.3vw;
  }
}
.section.section--product {
  padding-top: 100px;
  padding-bottom: 110px;
  border-bottom: 3px solid #000;
}
@media only screen and (max-width: 768px) {
  .section.section--product {
    padding-top: 10vw;
    padding-bottom: 12vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--product .section-title {
    padding-left: 9.3vw;
    padding-right: 9.3vw;
  }
}
.section.section--product .section-content .features {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.section.section--product .section-content .features .list {
  list-style: none;
  margin-right: 250px;
}
.section.section--product .section-content .features .list .item {
  font-size: 30px;
  padding-left: 40px;
  background: url(../img/checkpoint.png) left center no-repeat;
}
@media only screen and (max-width: 1400px) {
  .section.section--product .section-content .features .list .item {
    background-size: contain;
  }
}
.section.section--product .section-content .features .list .item + .item {
  margin-top: 25px;
  color: #171717;
}
@media only screen and (max-width: 1400px) {
  .section.section--product .section-content .features .list .item {
    font-size: 2vw;
    padding-left: 3vw;
  }
  .section.section--product .section-content .features .list .item + .item {
    margin-top: 1.8vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--product .section-content .features .list .item {
    font-size: 3.5vw;
    padding-left: 6vw;
  }
  .section.section--product .section-content .features .list .item + .item {
    margin-top: 3.2vw;
  }
}
@media only screen and (max-width: 1400px) {
  .section.section--product .section-content .features .list {
    margin-right: 18vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--product .section-content .features .list {
    margin-right: 10vw;
  }
}
.section.section--product .section-content .features .right-img img {
  position: relative;
  top: -100px;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.section.section--product .section-content .features .right-img img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
@media only screen and (max-width: 768px) {
  .section.section--product .section-content .features .right-img img {
    top: unset;
    width: 24vw;
  }
}
.section.section--product .section-content .payment-options {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  list-style: none;
}
@media only screen and (max-width: 768px) {
  .section.section--product .section-content .payment-options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 12.8vw;
  }
}
.section.section--product .section-content .payment-options .item {
  max-width: 620px;
  -webkit-flex: 45%;
  -webkit-box-flex: 45%;
  -webkit-flex: 45%;
  -moz-box-flex: 45%;
  -ms-flex: 45%;
  flex: 45%;
}
@media only screen and (max-width: 768px) {
  .section.section--product .section-content .payment-options .item {
    margin-left: 12.8vw;
    margin-right: 12.8vw;
  }
}
.section.section--product .section-content .payment-options .item .type {
  height: 66px;
  font-size: 46px;
  line-height: 66px;
  padding-left: 50px;
  background-color: #6F6F6E;
  color: white;
}
@media only screen and (max-width: 1400px) {
  .section.section--product .section-content .payment-options .item .type {
    height: 4.5vw;
    font-size: 3.3vw;
    line-height: 4.5vw;
    padding-left: 3.5vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--product .section-content .payment-options .item .type {
    height: 8vw;
    font-size: 5.6vw;
    line-height: 8vw;
    padding-left: 6.4vw;
  }
}
.section.section--product .section-content .payment-options .item .price {
  border: 1px solid #707070;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.section.section--product .section-content .payment-options .item .price p {
  font-size: 50px;
}
.section.section--product .section-content .payment-options .item .price p span {
  font-size: 30px;
}
@media only screen and (max-width: 1400px) {
  .section.section--product .section-content .payment-options .item .price {
    padding-top: 1.4vw;
    padding-bottom: 1.4vw;
  }
  .section.section--product .section-content .payment-options .item .price p {
    font-size: 3.5vw;
  }
  .section.section--product .section-content .payment-options .item .price p span {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--product .section-content .payment-options .item .price {
    padding-top: 2.2vw;
    padding-bottom: 2.2vw;
  }
  .section.section--product .section-content .payment-options .item .price p {
    font-size: 6.2vw;
  }
  .section.section--product .section-content .payment-options .item .price p span {
    font-size: 3.5vw;
  }
}
.section.section--product .section-content .payment-options .item + .item {
  margin-left: 24px;
}
@media only screen and (max-width: 1400px) {
  .section.section--product .section-content .payment-options .item + .item {
    margin-left: 1.7vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--product .section-content .payment-options .item + .item {
    margin-left: 12.8vw;
    margin-top: 2.4vw;
  }
}
.section.section--product .section-content .btn-panel {
  text-align: center;
  margin-top: 70px;
}
.section.section--product .section-content .btn-panel .btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  max-width: 800px;
  background-color: #03719C;
  color: white;
  display: block;
  height: 160px;
  padding-right: 120px;
  background-image: url(../img/play.png);
  background-position: right 20px center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section.section--product .section-content .btn-panel .btn span {
  font-size: 52px;
  line-height: 160px;
}
.section.section--product .section-content .btn-panel .btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
@media only screen and (max-width: 1400px) {
  .section.section--product .section-content .btn-panel {
    margin-top: 5vw;
  }
  .section.section--product .section-content .btn-panel .btn {
    max-width: 50vw;
    height: 12vw;
    padding-right: 10vw;
    background-position: right 2vw center;
    background-size: 8vw;
    border-radius: 2.6vw;
  }
  .section.section--product .section-content .btn-panel .btn span {
    font-size: 3.6vw;
    line-height: 12vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--product .section-content .btn-panel {
    margin-top: 10vw;
  }
  .section.section--product .section-content .btn-panel .btn {
    max-width: 72vw;
    height: 14.7vw;
    padding-right: 11vw;
    background-position: right 1.83vw center;
    background-size: 10vw;
    border-radius: 2.6vw;
  }
  .section.section--product .section-content .btn-panel .btn span {
    font-size: 4.8vw;
    line-height: 14.7vw;
  }
}
.section.section--place {
  padding-top: 100px;
  padding-bottom: 200px;
  border-bottom: 3px solid #000;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .section.section--place {
    padding-top: 8vw;
    padding-bottom: 14vw;
    height: 211vw;
  }
}
.section.section--place .section-title {
  position: relative;
}
.section.section--place .section-title .description {
  position: absolute;
  bottom: 0;
  left: 400px;
  font-size: 30px;
  color: #313131;
}
@media only screen and (max-width: 768px) {
  .section.section--place .section-title {
    padding-left: 11vw;
    padding-right: 11vw;
  }
  .section.section--place .section-title .description {
    position: unset;
    margin-top: 12vw;
    font-size: 3.5vw;
    display: block;
  }
}
.section.section--place .section-content .place-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  -moz-box-pack: space-between;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  margin-top: 90px;
  list-style: none;
}
@media only screen and (max-width: 768px) {
  .section.section--place .section-content .place-list {
    display: block;
    position: absolute;
    height: 148vw;
    width: 100vw;
    margin-top: unset;
  }
}
.section.section--place .section-content .place-list .item {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media only screen and (max-width: 768px) {
  .section.section--place .section-content .place-list .item {
    position: absolute;
  }
}
.section.section--place .section-content .place-list .item + .item {
  margin-left: 10vw;
}
@media only screen and (max-width: 768px) {
  .section.section--place .section-content .place-list .item + .item {
    margin-left: unset;
  }
}
.section.section--place .section-content .place-list .item img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .section.section--place .section-content .place-list .item img {
    width: 36.8vw;
  }
}
.section.section--place .section-content .place-list .item .text {
  font-size: 33px;
  margin-top: 0.8em;
  text-align: center;
  color: #171717;
}
@media only screen and (max-width: 768px) {
  .section.section--place .section-content .place-list .item .text {
    font-size: 3.5vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--place .section-content .place-list:nth-of-type(1) .item:nth-of-type(1) {
    left: 10vw;
    top: 4.8vw;
    width: 36.8vw;
  }
  .section.section--place .section-content .place-list:nth-of-type(1) .item:nth-of-type(1) .text {
    white-space: nowrap;
    margin-left: -5vw;
    margin-right: -5vw;
  }
  .section.section--place .section-content .place-list:nth-of-type(1) .item:nth-of-type(2) {
    right: 10vw;
    top: 4.8vw;
    width: 36.8vw;
  }
  .section.section--place .section-content .place-list:nth-of-type(1) .item:nth-of-type(3) {
    left: 10vw;
    top: 56.8vw;
    width: 36.8vw;
  }
  .section.section--place .section-content .place-list:nth-of-type(2) .item:nth-of-type(1) {
    right: 10vw;
    top: 56.8vw;
    width: 36.8vw;
  }
  .section.section--place .section-content .place-list:nth-of-type(2) .item:nth-of-type(2) {
    left: 10vw;
    top: 108.8vw;
    width: 36.8vw;
  }
  .section.section--place .section-content .place-list:nth-of-type(2) .item:nth-of-type(3) {
    right: 10vw;
    top: 108.8vw;
    width: 36.8vw;
  }
}
.section.section--place:before {
  content: "";
  position: absolute;
  display: block;
  left: 6.66vw;
  right: 6.66vw;
  top: 0;
  bottom: 0;
  background-color: white;
  z-index: -1;
}
@media only screen and (max-width: 1700px) and (min-width: 1540px) {
  .section.section--place:before {
    left: 2vw;
    right: 2vw;
  }
}
.section.section--place:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../img/background01.png);
  z-index: -2;
}
.section.section--flow {
  padding-top: 100px;
  padding-bottom: 135px;
}
@media only screen and (max-width: 768px) {
  .section.section--flow {
    padding-top: 8vw;
    padding-bottom: 10vw;
  }
}
.section.section--flow .section-title {
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .section.section--flow .section-title {
    text-align: left;
    padding-left: 11vw;
  }
}
.section.section--flow .section-content .flow-items {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  margin-top: 70px;
}
@media only screen and (max-width: 768px) {
  .section.section--flow .section-content .flow-items {
    padding-left: 6vw;
    padding-right: 6vw;
    margin-top: 7.2vw;
  }
}
.section.section--flow .section-content .flow-items .item {
  background-color: #03719C;
  height: 220px;
  padding-left: 250px;
  background-image: url(../img/flow01.png);
  background-position: left 20px center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}
.section.section--flow .section-content .flow-items .item:nth-of-type(2) {
  background-image: url(../img/flow02.png);
}
.section.section--flow .section-content .flow-items .item:nth-of-type(3) {
  background-image: url(../img/flow03.png);
}
@media only screen and (max-width: 1400px) {
  .section.section--flow .section-content .flow-items .item {
    height: 12vw;
    padding-left: 13vw;
    background-position: left 1vw center;
    background-size: 10vw;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--flow .section-content .flow-items .item {
    height: 24vw;
    padding-left: 25vw;
    background-position: left 2vw center;
    background-size: 20vw;
    width: unset;
  }
}
.section.section--flow .section-content .flow-items .item .flow-title {
  font-size: 50px;
  line-height: 1.5;
}
@media only screen and (max-width: 1400px) {
  .section.section--flow .section-content .flow-items .item .flow-title {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--flow .section-content .flow-items .item .flow-title {
    font-size: 5.33vw;
  }
}
.section.section--flow .section-content .flow-items .item .flow-description {
  font-size: 30px;
  line-height: 1.5;
}
@media only screen and (max-width: 1400px) {
  .section.section--flow .section-content .flow-items .item .flow-description {
    font-size: 1.5vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--flow .section-content .flow-items .item .flow-description {
    font-size: 2.66vw;
  }
}
.section.section--flow .section-content .flow-items .item .btn-panel {
  position: absolute;
  bottom: 20px;
  right: 50px;
}
.section.section--flow .section-content .flow-items .item .btn-panel .btn {
  display: block;
  background-color: white;
  color: #03719C;
  font-size: 30px;
  line-height: 80px;
  text-align: center;
  width: 420px;
  padding-right: 80px;
  background-image: url(../img/play-blue.png);
  background-position: right 30px center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section.section--flow .section-content .flow-items .item .btn-panel .btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
@media only screen and (max-width: 1400px) {
  .section.section--flow .section-content .flow-items .item .btn-panel {
    bottom: 1vw;
    right: 1.6vw;
  }
  .section.section--flow .section-content .flow-items .item .btn-panel .btn {
    font-size: 1.6vw;
    line-height: 4.2vw;
    background-position: right 1.5vw center;
    background-size: 3.6vw;
    width: 24vw;
    padding-right: 4vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--flow .section-content .flow-items .item .btn-panel {
    bottom: 1.6vw;
    right: 3.2vw;
  }
  .section.section--flow .section-content .flow-items .item .btn-panel .btn {
    font-size: 3.2vw;
    line-height: 8.4vw;
    background-position: right 3vw center;
    background-size: 7.2vw;
    width: 44.8vw;
    padding-right: 8vw;
  }
}
.section.section--flow .section-content .flow-items .item + .item {
  margin-top: 50px;
}
@media only screen and (max-width: 1400px) {
  .section.section--flow .section-content .flow-items .item + .item {
    margin-top: 2vw;
  }
}
@media only screen and (max-width: 768px) {
  .section.section--flow .section-content .flow-items .item + .item {
    margin-top: 5.33vw;
  }
}

/* ----------------------------------------
ナビーメニュー
----------------------------------------*/
.nav-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 1 auto;
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  overflow: visible;
  height: 70px;
}
.nav-wrapper a.contact-link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 210px;
  height: 105px;
  padding-left: 35px;
  border-radius: 0 0 0 35px;
  background-color: #1374bf;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  z-index: 9;
}
@media only screen and (max-width: 1024px) {
  .nav-wrapper a.contact-link {
    width: 140px;
    padding-left: 15px;
    border-radius: 0 0 0 35px;
  }
}
@media only screen and (max-width: 768px) {
  .nav-wrapper a.contact-link {
    font-size: 1.73vw;
    padding-left: unset;
  }
}
.nav-wrapper a.contact-link i {
  font-size: 30px;
  margin-bottom: 0.5em;
}
@media only screen and (max-width: 768px) {
  .nav-wrapper a.contact-link i {
    font-size: 6vw;
    margin-bottom: unset;
    margin-right: 1em;
  }
}
.nav-wrapper a.contact-link span {
  color: #FFFFFF;
}
.nav-wrapper .nav {
  -webkit-flex: 1 1 auto;
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  -moz-box-pack: space-evenly;
  justify-content: space-evenly;
  list-style: none;
  white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  .nav-wrapper .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: unset;
    padding-right: unset;
  }
}
.nav-wrapper .nav > li {
  vertical-align: middle;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  -moz-box-pack: space-between;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 768px) {
  .nav-wrapper .nav > li {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.nav-wrapper .nav > li > a {
  display: block;
}
.nav-wrapper .nav > li:hover {
  border-top: 4px solid transparent;
  border-bottom: 4px solid #1374bf;
}
@media only screen and (max-width: 768px) {
  .nav-wrapper .nav > li:hover {
    border: unset;
  }
}
.nav-wrapper .nav > li:hover > a {
  color: #1374bf;
}
@media only screen and (max-width: 768px) {
  .nav-wrapper .nav > li:hover > a {
    color: #FFFFFF;
  }
}
.nav-wrapper .nav > li:hover .menu-popup {
  opacity: 1;
  visibility: visible;
  z-index: 9;
}
.nav-wrapper .nav .menu-popup {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 38px 0;
  padding-left: 40px;
  opacity: 0;
  visibility: hidden;
  line-height: 2;
  color: #191819;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 768px) {
  .nav-wrapper .nav .menu-popup {
    opacity: 1;
    visibility: visible;
    padding-left: unset;
  }
}
@media only screen and (max-width: 768px) {
  .nav-wrapper .nav .menu-popup {
    position: unset;
    padding: unset;
  }
}
.nav-wrapper .nav .menu-popup .popup-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: flex-start;
  -webkit-flex-align: flex-start;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  -moz-box-pack: space-around;
  justify-content: space-around;
  -webkit-box-pack: distribute;
  -ms-flex-pack: distribute;
}
.nav-wrapper .nav .menu-popup .popup-inner h3 {
  line-height: 2;
  -webkit-flex: 0 0 200px;
  -webkit-box-flex: 0 0 200px;
  -webkit-flex: 0 0 200px;
  -moz-box-flex: 0 0 200px;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
}
.nav-wrapper .nav .menu-popup .popup-inner ul {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.nav-wrapper .nav .menu-popup .popup-inner ul li {
  -webkit-flex: 0 0 20%;
  -webkit-box-flex: 0 0 20%;
  -webkit-flex: 0 0 20%;
  -moz-box-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
}
.nav-wrapper .nav .menu-popup .popup-inner ul li a {
  position: relative;
  font-weight: 400;
}
.nav-wrapper .nav .menu-popup .popup-inner ul li a:hover {
  color: #1374bf;
}
.nav-wrapper .nav .menu-popup .popup-inner ul li a:hover::after {
  border-color: inherit;
}
.nav-wrapper .nav .menu-popup .popup-inner ul li a::after {
  content: "";
  position: absolute;
  bottom: 50%;
  right: -2em;
  width: 1em;
  height: 0.58em;
  border-bottom: 1px solid #191919;
  border-right: 2px solid #191919;
  border-color: inherit;
  -webkit-transform: skew(30deg) rotate(-30deg) translateY(50%);
  -ms-transform: skew(30deg) rotate(-30deg) translateY(50%);
  transform: skew(30deg) rotate(-30deg) translateY(50%);
}

.nav-open {
  display: none;
}

@media (min-width: 1025px) {
  .nav > li > a.submenu-opener {
    display: none;
  }

  .nav .menu-popup {
    display: block !important;
  }
}
@media (max-width: 768px) {
  .nav-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 0;
    display: none;
    padding: 0 14vw 20vw;
    overflow-y: auto;
    opacity: 0;
    background-color: #54a8e5;
    z-index: -1;
    font-size: 1.86vw;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .nav-wrapper a.contact-link {
    width: auto;
    margin: 0;
    font-size: 4vw;
    line-height: 3.6;
    height: auto;
    border-radius: 1.8em;
    margin-bottom: 6vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .nav-wrapper a.contact-link span {
    color: #FFFFFF;
    display: unset;
  }

  .nav-open {
    width: 13.3vw;
    height: 13.3vw;
    margin-top: 5.33vw;
    margin-right: 5.33vw;
    border-radius: 10px;
    background-color: #54a8e5;
    color: #FFFFFF;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .nav-open i {
    position: relative;
    display: block;
    height: 0;
    width: 4vw;
    border-top: 2px solid;
    color: #FFFFFF;
  }
  .nav-open i:before, .nav-open i:after {
    content: "";
    display: block;
    position: absolute;
    width: 4vw;
    height: 0;
    border-top: 2px solid;
    color: inherit;
    left: 0;
    top: -9px;
  }
  .nav-open i:after {
    top: 5px;
  }
  .nav-open span {
    display: block;
    font-family: "Hiragino Sans", "Noto Sans JP", sans-serif;
    font-size: 2.4vw;
    color: #FFFFFF;
    position: relative;
    top: 1em;
  }

  .nav-opened .page-header {
    background-color: #54a8e5;
  }
  .nav-opened::before {
    content: "";
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: #FFFFFF;
    z-index: 1;
  }
  .nav-opened .nav-wrapper {
    display: block;
    height: calc(100vh - 29.33vw);
    opacity: 1;
    border-radius: 0 0 10px 10px;
  }

  .nav li {
    display: block;
    position: relative;
    color: #fff;
    font-size: 4vw;
    margin: 0;
  }
  .nav li:hover > a {
    color: #fff;
  }
  .nav .menu-popup {
    display: none;
    position: static;
    background-color: transparent;
    visibility: visible;
    opacity: 1;
    padding: 0;
    position: unset;
  }
  .nav .menu-popup .popup-inner {
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    -moz-box-pack: flex-start;
    justify-content: flex-start;
    -webkit-box-pack: start;
  }
  .nav .menu-popup .popup-inner h3 {
    display: none;
  }
  .nav .menu-popup .popup-inner ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .nav .menu-popup .popup-inner ul li {
    -webkit-flex: 0 0 100%;
    -webkit-box-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .nav .menu-popup .popup-inner ul li a::after {
    display: none;
  }
  .nav > li > a {
    display: inline-block;
    vertical-align: middle;
    padding: 6vw 0;
  }
  .nav > li > a.submenu-opener {
    width: 30px;
    text-align: center;
    padding: 5px 0;
    margin-left: 5px;
  }
  .nav > li > a.submenu-opener:before {
    content: "+";
    font-family: Arial;
    font-size: 6.8vw;
    font-weight: 400;
    display: block;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .nav > li > a.submenu-opener.opened:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 3.73vw;
    font-weight: bold;
    content: "|";
  }

  .nav-open i, .nav-open i:after, .nav-open i:before {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  body:not(.nav-opened) .nav-wrapper a {
    pointer-events: none;
  }

  body.nav-opened {
    margin: 5.33vw 20px;
  }
  body.nav-opened .page-header {
    border-radius: 10px 10px 0 0;
  }
}
@media only screen and (max-width: 768px) and (max-width: 768px) {
  body.nav-opened .page-header.header-sticky {
    top: 5.33vw;
    left: 20px;
    right: 20px;
    bottom: 5.33vw;
  }
}
@media (max-width: 768px) {
  body.nav-opened .page-header .nav-wrapper .nav .menu-popup {
    background: inherit;
    padding-left: 1em;
  }
}
@media (max-width: 768px) {
  body.nav-opened .logo {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  body.nav-opened .nav-open {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    margin-right: calc(5.33vw - 20px);
    margin-top: 0;
  }
  body.nav-opened .nav-open i {
    border-color: transparent;
  }
  body.nav-opened .nav-open i:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
    left: 0;
  }
  body.nav-opened .nav-open i:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    left: 0;
  }
}
/* トップページのスタイル*/
.page-header {
  color: #191819;
  font-size: 14px;
  background: #FFFFFF;
}
.page-header .header-inner {
  position: relative;
}
.page-header .header-inner .heroes {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}
@media only screen and (min-width: 769px) {
  .page-header .header-inner .heroes {
    height: 75vw;
  }
}
@media only screen and (max-width: 768px) {
  .page-header .header-inner .heroes {
    height: 120vw;
  }
}
.page-header .header-inner .heroes .item {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
}
.page-header .header-inner .heroes .item img {
  width: 100%;
}
.page-header .header-inner .header-title {
  position: absolute;
  top: 43vw;
  width: 1100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 80vw;
}
@media only screen and (max-width: 768px) {
  .page-header .header-inner .header-title {
    top: unset;
    bottom: -64vw;
  }
}
.page-header .header-inner .header-title h1 {
  font-size: 82px;
  font-weight: 700;
  text-align: center;
  color: white;
}
.page-header .header-inner .header-title h1 span {
  display: block;
  font-size: 33px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.page-header .header-inner .header-title .feature-items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.page-header .header-inner .header-title .feature-items .item {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: white;
  background: linear-gradient(#06A4E2, #03719C);
  padding-top: 2vw;
  height: 296px;
  position: relative;
}
.page-header .header-inner .header-title .feature-items .item + .item {
  margin-left: 35px;
}
.page-header .header-inner .header-title .feature-items .item img {
  height: 85px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.page-header .header-inner .header-title .feature-items .item .name {
  font-size: 39px;
  text-align: center;
  line-height: 1.1;
  letter-spacing: -0.05em;
  margin-top: 15px;
}
.page-header .header-inner .header-title .feature-items .item .content {
  text-align: center;
  font-size: 19px;
  position: absolute;
  width: 100%;
  bottom: 2vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.page-header .header-inner .header-title .feature-items .item .content span {
  font-size: 30px;
  margin-bottom: 0.4em;
  display: block;
}
.page-header .header-inner .header-title h1 {
  font-size: 5vw;
}
.page-header .header-inner .header-title h1 span {
  font-size: 2vw;
}
.page-header .header-inner .header-title .feature-items .item {
  height: 20vw;
}
.page-header .header-inner .header-title .feature-items .item + .item {
  margin-left: 2vw;
}
.page-header .header-inner .header-title .feature-items .item img {
  height: 5vw;
}
.page-header .header-inner .header-title .feature-items .item .name {
  font-size: 2.2vw;
  margin-top: 1vw;
}
.page-header .header-inner .header-title .feature-items .item .content {
  font-size: 1.2vw;
  bottom: 2vw;
}
.page-header .header-inner .header-title .feature-items .item .content span {
  font-size: 1.6vw;
}
@media only screen and (max-width: 768px) {
  .page-header .header-inner .header-title {
    width: 100vw;
  }
  .page-header .header-inner .header-title h1 {
    font-size: 10.4vw;
  }
  .page-header .header-inner .header-title h1 span {
    font-size: 5.33vw;
  }
  .page-header .header-inner .header-title .feature-items {
    display: block;
    position: relative;
    height: 80vw;
  }
  .page-header .header-inner .header-title .feature-items .item {
    height: 38.4vw;
    width: 33vw;
    position: absolute;
  }
  .page-header .header-inner .header-title .feature-items .item + .item {
    margin-left: unset;
  }
  .page-header .header-inner .header-title .feature-items .item img {
    height: 11vw;
  }
  .page-header .header-inner .header-title .feature-items .item .name {
    font-size: 4.8vw;
    margin-top: 2vw;
  }
  .page-header .header-inner .header-title .feature-items .item .content {
    font-size: 2.13vw;
    bottom: 3vw;
  }
  .page-header .header-inner .header-title .feature-items .item .content span {
    font-size: 3.3vw;
  }
  .page-header .header-inner .header-title .feature-items .item:nth-of-type(1) {
    left: 15.2vw;
    top: 0;
  }
  .page-header .header-inner .header-title .feature-items .item:nth-of-type(2) {
    right: 15.2vw;
    left: auto;
    top: 0;
  }
  .page-header .header-inner .header-title .feature-items .item:nth-of-type(3) {
    left: 15.2vw;
    bottom: 0;
  }
  .page-header .header-inner .header-title .feature-items .item:nth-of-type(4) {
    right: 15.2vw;
    left: auto;
    bottom: 0;
  }
}

.logo {
  width: 180px;
}
@media (max-width: 768px) {
  .logo {
    width: 50vw;
    height: 12vw;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-flex-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
  }
}

.page-footer {
  background-color: #03719C;
  color: white;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media only screen and (max-width: 768px) {
  .page-footer {
    padding-top: 6vw;
    padding-bottom: 6vw;
  }
}
.page-footer .footer-top .text {
  font-size: 30px;
  line-height: 1.3;
}
@media only screen and (max-width: 768px) {
  .page-footer .footer-top .text {
    font-size: 3.2vw;
  }
}
@media only screen and (max-width: 1400px) {
  .page-footer .footer-middle {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
@media only screen and (max-width: 768px) {
  .page-footer .footer-middle {
    padding-left: 6.66vw;
    padding-right: 6.66vw;
  }
}
.page-footer .footer-middle .btn-panel {
  margin-top: 30px;
  margin-bottom: 60px;
}
@media only screen and (max-width: 768px) {
  .page-footer .footer-middle .btn-panel {
    margin-top: 3vw;
    margin-bottom: 4vw;
  }
}
.page-footer .footer-middle .btn-panel .mail-btn {
  background-color: white;
  color: #03719C;
  font-size: 56px;
  line-height: 2.3;
  display: block;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.page-footer .footer-middle .btn-panel .mail-btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
@media only screen and (max-width: 1000px) {
  .page-footer .footer-middle .btn-panel .mail-btn {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 768px) {
  .page-footer .footer-middle .btn-panel .mail-btn {
    font-size: 4.2vw;
    line-height: 2.6;
  }
}
.page-footer .footer-bottom .about {
  font-size: 30px;
  line-height: 1.3;
}
@media only screen and (max-width: 768px) {
  .page-footer .footer-bottom .about {
    font-size: 2.66vw;
    line-height: 1.7;
  }
}

/*# sourceMappingURL=theme.css.map */
